.header {
  background-color: $off-black;
  margin-bottom: $xl-size;
  padding: $m-size 0;
  color: #fff;
}
.header__title {
  margin: 0;
  font-size: $l-size;
}

.header__subtitle {
  color: $off-white;
  margin: 0;
  font-size: $m-size;
  font-weight: 500;
}
